.Editor {
  padding: 10px;
  font-family: "fira code";
  grid-area: editor;
  overflow-y: auto;

  &:focus {
    outline: none;
    background-color: var(--current-line);
  }
  resize: horizontal;
  border: none;
}
