.CombinedEditor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100vw;
  grid-template-areas: "editor renderer";

  .button-bar {
    position: fixed;
    height: 2rem;
    width: 100vw;
    bottom: 0;
    background: green;
  }
}
