.CombinedEditor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100% + 2rem);
  width: 100vw;
  grid-template-areas: "editor renderer";
  position: relative;
  left: -2rem;
  top: -1rem;

  .button-bar {
    position: fixed;
    height: 2rem;
    width: 100vw;
    bottom: 0;
    background: green;
  }
}
