@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  /* Dracula */
  --background: #282a36;
  --current-line: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;

  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;

  --header: var(--cyan);
  --link: var(--cyan);
  --button: var(--green);
  --bold: var(--orange);
  --italic: var(--yellow);
  --border: var(--comment);
  --bullets: var(--cyan);
}

* {
  color: var(--foreground);
  box-sizing: border-box;
}

body,
textarea {
  background-color: var(--background);
  padding: 1rem;
}

button {
  background-color: var(--button);
  color: black;
  border: none;
  padding: 1rem 3rem;
  margin: 1rem 0;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--link);

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 40%;
}

code {
  font-family: "fira code";
  color: var(--green);
}

pre code {
  color: var(--orange);
}

li::marker {
  color: var(--bullets);
}

b,
strong {
  color: var(--bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header);
}

i,
em,
blockquote * {
  color: var(--italic);
  font-style: italic;
}

blockquote {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    background-color: var(--italic);
    position: absolute;
    left: -16px;
    border-radius: 10000px;
  }
}

a {
  color: var(--cyan);
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

table {
  border-collapse: collapse;

  thead th {
    color: var(--header);
  }

  tbody tr:nth-child(2n - 1) {
    background-color: var(--current-line);
  }

  td,
  th {
    border: 1px solid var(--border);
    padding: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;

  label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;

    input {
      margin: 0;
    }
  }

  input {
    background-color: var(--current-line);
    border: none;
    margin: 1rem;
    height: 2rem;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    max-width: 70vw;
    margin: 1rem auto;

    &:focus {
      outline-color: var(--pink);
    }
  }
}
